Assignment 5/Podcast Agent.json
{
  "name": "Podcast Agent",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/21m00Tcm4TlvDq8ikWAM",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $('Telegram Trigger').item.json.message.text }}\",\n  \"model_id\": \"eleven_monolingual_v1\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        -240
      ],
      "id": "35ec180e-a1c8-4d80-8fbf-d87de5f03d90",
      "name": "Podcast Maker",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MmtuvVCOGvPaS4yR",
          "name": "Eleven Lab"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        120,
        -240
      ],
      "id": "8d9a08d5-26ac-4786-97f6-0f7bcd135e88",
      "name": "Send an audio file",
      "webhookId": "920f5a12-75a9-42ee-8425-98ef642e373f",
      "credentials": {
        "telegramApi": {
          "id": "IinjCCM9zsZ5F5E1",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -280,
        -240
      ],
      "id": "ed719c7a-cc34-4409-bfd8-afc62e80ccb1",
      "name": "Telegram Trigger",
      "webhookId": "5c91e399-45e1-49df-bb32-008832581b4f",
      "credentials": {
        "telegramApi": {
          "id": "IinjCCM9zsZ5F5E1",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Podcast Maker": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an audio file": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Podcast Maker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fd4085ee-8782-436d-ac95-93252f3a4313",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51a151c4e3546fae824ae7435d95ab6051d3b64260145986af6d7ce41347cf96"
  },
  "id": "kcdn3ijtOFXCoF7q",
  "tags": []
}