Assignment 5/Retrieval agent.json
{
  "name": "Retrieval agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "question"
            },
            {
              "name": "chat_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        -200
      ],
      "id": "2462edf6-42cf-429d-9131-6f0bc71c6dca",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to answer questions about the stored documents. It contains summaries and full text content from various sources",
        "tableName": {
          "__rl": true,
          "value": "ai_data_store",
          "mode": "list",
          "cachedResultName": "ai_data_store"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        120,
        0
      ],
      "id": "c0a73caa-2d74-44c3-a5b7-d3b3146c15da",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "MeYoMC0mNya3m3CG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        80,
        140
      ],
      "id": "dec721f7-a800-4846-b4eb-084e233ba42e",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "RrKJcuu1ZnAdSDmF",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -100,
        -200
      ],
      "id": "c20b7239-3778-4a89-af8c-4b32fad1873f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemma-3-4b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -180,
        140
      ],
      "id": "c1308165-9bdf-4f2a-b8b6-770058942bfc",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "JHHsmMAzSNMC4g4w",
          "name": "OpenRouter account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "029d4e90-86c0-49a1-a141-b8403a9d169c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51a151c4e3546fae824ae7435d95ab6051d3b64260145986af6d7ce41347cf96"
  },
  "id": "aMbAEF9P20R6ECi0",
  "tags": []
}